body{
    background-color: rgb(199, 199, 199);
}
main{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

    max-width: 800px;
    min-width: 320px;
    margin: auto;
}
img{
    width: 100%;
}